
  <div><%- include('./partials/header.ejs') %></div>
  <div class="center" >
    <div id="welcomecontainer">
      <h1 class="welcome">&bull; Edit <%= bunny.name%>&bull;</h1>
    

    <div>
      <div class="carddiv">
        <div class="additional">
          <div class="user-card">
            <img src="<%= bunny.images %>" class="svg" />
          </div>
          <div class="more-info">
            <div class="coords">
              <span><%= bunny.description%> </span>
              <form
              method="POST"
              action="/rabbits/<%= bunny._id%>/edit?_method=DELETE"
            >
              <div class="button-position3">
                <input class="button" type="submit" value="Delete" />
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="general">
          <div>Name: <%= bunny.name %></div>

          <div>Age: <%= bunny.age %></div>

          <div>Breed: <%= bunny.breed %></div>
          <div class="bunny">
            <div id="oreja1"></div>
            <div id="cuerpo">
              <div id="ojo"></div>
             </div>
            <div id="cola"></div>
            </div>

          <span class="more">Hover over the card for more </span>
          
          
          </div>
        </div>
      </div>
     
    </div>
    <div id="welcomecontainer">
    <form 
    enctype="multipart/form-data"
    method="POST"
    action="/rabbits/<%= bunny._id%>?_method=PATCH"
  >
    Name: <input name="name" type="text" value="<%= bunny.name %>" /><br />
    Description:
    <input
      name="description"
      type="text"
      value="<%= bunny.description %>"
    /><br />
    Age: <input name="age" type="text" value="<%= bunny.age %>" /><br />
    Status:
    <input
      name="status"
      type="text"
      placeholder="Available for Adoption!"
      value="<%= bunny.status %>"
    /><br />
    Breed: <input name="breed" type="text" value="<%= bunny.breed %>" /><br />
    Image:
    <input
      name="Image"
      type="file"
      accept="image/png, image/jpeg"
      value="<%= bunny.images %>"
    /><br />
    <div class="button-position2">
      <input class="button" type="submit" value="Update" />
    </div>
  </form>
</div>
</main>
  </div>
 
  <div><%- include('./partials/footer.ejs') %></div>




