<%- include('./partials/header.ejs') %> <% allBunnies.forEach((el) => { %>

<a href="/rabbits/<%= el._id %>">
  <div>
    <img src="<%= el.img%>" alt="" /><br />
    Name: <%= el.name%><br />
    Status: <%= el.status%><br />
  </div>
</a>

<% }) %> <%- include('./partials/footer.ejs') %>
