<%- include('./partials/header.ejs') %> <% allBunnies.forEach((el) => { %>

  
<a href="/rabbits/<%= el._id %>">
  <div class="index">
    <img src="<%= el.images%>" /><br />
    <%= el.name%><br>
    Status: <%= el.status%><br />
</div>
</a>


<% }) %> <%- include('./partials/footer.ejs') %>
