<%- include('./partials/header.ejs') %>

<div class="centerpage">
  <div class="carddiv">


    <div class="additional">
      <div class="user-card">
        <div class="level center">Age: <%= bunny.age %></div>

        <div class="points center"><%= bunny.breed %></div>

        <img src="<%= bunny.images %>" class="svg" />
      </div>
      <div class="more-info">
        <h2 class="showname"><%= bunny.name %></h2>
        <div class="coords">
          <span>Availability: <%= bunny.status%> </span>
        </div>

        <div class="stats">
          <div>
            <svg
            height="64px"
            width="64px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-51.2 -51.2 614.40 614.40"
            xml:space="preserve"
            fill="#000000"
            transform="matrix(-1, 0, 0, 1, 0, 0)rotate(0)"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <circle
                  style="fill: #aed5f3"
                  cx="463.238"
                  cy="376.49"
                  r="48.762"
                ></circle>
                <path
                  style="fill: #aed5f3"
                  d="M208.117,23.542c-10.533-12.705-25.382-20.548-41.812-22.084 c-16.429-1.534-32.477,3.418-45.182,13.95c-12.705,10.533-20.548,25.381-22.084,41.812c-1.89,20.215-8.297,154.467-8.569,160.173 l-0.83,17.429l107.435,10.177l2.562-17.134c0.823-5.502,20.173-134.997,22.43-159.141 C223.604,52.292,218.648,36.246,208.117,23.542z"
                ></path>
              </g>
              <circle
                style="fill: #ffffff"
                cx="128"
                cy="246.454"
                r="18.286"
              ></circle>
              <path
                style="fill: #c9e3f7"
                d="M335.227,255.894c-5.971-0.857-36.591-1.31-36.591-1.31c-0.635-27.508-14.14-53.417-37.759-73.109 c20.969-44.489,33.568-71.837,37.484-81.371c12.941-31.512-2.166-67.679-33.677-80.622c-7.656-3.144-15.588-4.632-23.392-4.632 c-24.324,0-47.431,14.453-57.229,38.31c-4.307,10.484-20.352,54.572-34.58,93.963c-33.142,1.625-64.168,12.209-88.177,30.217 c-22.098,16.574-36.276,37.812-41.136,61.089c-0.619-0.063-1.247-0.096-1.883-0.096c-10.099,0-18.286,8.187-18.286,18.286 c0,10.099,8.187,18.286,18.286,18.286c0.636,0,1.264-0.033,1.883-0.098c4.859,23.278,19.038,44.516,41.136,61.09 c19.072,14.303,42.584,23.897,68.055,28.064c-0.89,6.082-1.359,12.3-1.359,18.626c0,6.233,0.457,12.361,1.321,18.358 c0.592,4.106,1.38,8.147,2.354,12.117H128c-26.887,0-48.762,21.875-48.762,48.762s21.875,48.762,48.762,48.762h225.524h0.924 c49.904,0,90.505-40.6,90.505-90.505v-37.495C444.952,318.209,397.18,264.789,335.227,255.894z"
              ></path>
              <circle
                style="fill: #3c5d76"
                cx="128"
                cy="246.454"
                r="18.286"
              ></circle>
              <circle
                style="fill: #1e2e3b"
                cx="18.286"
                cy="258.645"
                r="18.286"
              ></circle>
              <path
                style="fill: #aed5f3"
                d="M304.635,413.525c-34.809,0-63.483,26.718-66.623,60.72H128c-6.607,0-12.19-5.583-12.19-12.19 s5.583-12.19,12.19-12.19h67.048v-36.571H128c-26.887,0-48.762,21.875-48.762,48.762s21.875,48.762,48.762,48.762l173.116-0.232 c-15.082-1.752-26.83-14.596-26.83-30.14c0-16.735,13.614-30.349,30.349-30.349h48.889v-36.571h-48.889V413.525z"
              ></path>
              <path
                style="fill: #ffffff"
                d="M218.21,159.406c17.186-28.606,32.77-55.275,36.209-63.163c4.181-9.587-0.218-20.787-9.806-24.967 c-9.59-4.181-20.788,0.219-24.967,9.805l0,0c-2.917,6.69-12.454,38.455-22.229,72.162C204.6,154.871,211.547,156.94,218.21,159.406z "
              ></path>
            </g>
          </svg>
            
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h2 class="showname"><%= bunny.name %></h2>
      <p><%= bunny.description %></p>
      <span class="more">Hover over the card for more </span>
    </div>

  </div>
 
</div>
<form method="POST" action="/rabbits/<%= bunny._id%>?_method=PATCH">
  <div class="readybtn">
    <button
      type="button"
      class="button"
      id="myBtn"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      I'm ready to adopt!
    </button>
  </div>

  <div id="myModal" class="modal">
   
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>
        Ready to adopt? Click on the button below to submit your adoption
        application!
      </p>
      <div class="modal-footer">
        <input
          class="button"
          name="status"
          type="submit"
          value="Pending Adoption"
        />
      </div>
    </div>
  </div>


</form>
<script>
  let modal = document.getElementById("myModal");

  let btn = document.getElementById("myBtn");

  let span = document.getElementsByClassName("close")[0];

  btn.onclick = function () {
    modal.style.display = "block";
  };

  span.onclick = function () {
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>

<footer class="fixed_footer">
  <div class="content">
    <h4>Contact Us</h4>
    <p>
      <li class="footerli">Telephone: 718-569-4894</li>
      <li>Email: adoptabunny@bunnyinc.com</li>
      <li>Address: 53 Bunnylane, Bunsville, NY 18902</li>
    </p>

      <hr>
      <p class="copyright">©Bunny Inc. 2022 All Rights Reserved by Farhana Hossain
  </div>
</footer>       

</html>